.contact-us {
  display: flex;
  flex-direction: column;
}


.table{
  width: 100%;
}

.thead{
  background-color: #187fc8;
}

/* Responsive adjustments */
@media (width <= 768px) {
  .table th, .table td {
    padding: 10px 8px; /* Adjusts padding on smaller screens */
  }
}


.sidebar-item:hover {
  box-shadow: 0 5px 7px rgb(0 0 0 / 10%); /* Medium shadow */
  overflow: hidden;
  background-color: rgb(253 252 252);
  transition: box-shadow 0.3s ease;
}

.content-c {
  flex: 1;
  padding: 30px;
}

